.radioSideContainer {
  grid-area: radio_side_area;
}

.radioSideContainer * {
  font-style: normal;
}

.radioSideContainer li {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  margin: 5px 0;
}

.radioSideContainer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100%;
}

.radioSideContainer a {
  text-decoration: none;
  color: var(--blue-link);
  overflow-x: hidden;
}

.radioSideContainer a:hover {
  text-decoration: underline;
}
.radioSideContainer span {
  display: flex;
}

.radioSideContainer span svg {
  fill: #898f9c;
}
