.radioHeaderContainer {
    grid-area: radio_header_area;
}

/* .radioHeaderContainer *:not(button) {
    filter: drop-shadow(0 1px 0px rgb(0 0 0 / 15%));
} */

.radioDescription {
    grid-area: radio_description;
    max-width: 650px;
}
.radioHeaderContainer header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    column-gap: 0.8rem;
    row-gap: 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, var(--body-back) 100%),
        var(--background-noise);
    padding: 15px;
}

@media only screen and (min-width: 600px) {
    .radioHeaderContainer header {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'radio_logo_area radio_header_text_area '
            'radio_logo_area radio_description'
            'radio_logo_area radio_button_area';
        align-items: center;
    }
    .headerButtons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;
        grid-area: radio_button_area;
    }
}

@media only screen and (max-width: 599px) {
    .radioHeaderContainer header {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'radio_logo_area radio_logo_area  '
            'radio_header_text_area radio_header_text_area'
            'radio_description radio_description'
            'radio_button_area radio_button_area';
        justify-items: center;
    }
    .radioDescription {
        text-align: center;
    }
    .headerButtons {
        display: grid;
        grid-gap: 1rem;
        width: 100%;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-area: radio_button_area;
    }
}
.headerText {
    grid-area: radio_header_text_area;
}

.headerText > h1 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.3rem;
}
.headerText > h2 {
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
    padding: 0;
    margin: 0;
}
.radioDescription a {
    color: #8bb5f8;

    margin: 0 0 0 0.2rem;
    text-decoration: none;
}

.radioDescription a:hover {
    text-decoration: underline;
}

/* .backgroundImage {
    background-color: #8bb5f8;
    position: absolute;
    margin: -16px;
    z-index: -1;
    width: 100%;
} */

/* .backgroundImage > img {
} */
