.equalizerContainer {
    display: flex;
    /* filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8)); */
}

#playingBars {
    fill: #00ffff;
}

#playingBars #bar1 {
    animation: animate1 0.4s infinite alternate ease-in-out;
}

#playingBars #bar2 {
    animation: animate2 0.6s infinite alternate ease-in-out;
}

#playingBars #bar3 {
    animation: animate3 0.3s infinite alternate ease-in-out;
}
/**/
@keyframes animate1 {
    to {
        d: path('M7 8C7 4 1 4 1 8L1 16C1 20 7 20 7 16L7 8');
    }
} /*
*/
@keyframes animate2 {
    to {
        d: path('M15 4C15 0 9 0 9 4L9 20C9 24 15 24 15 20L15 4');
    }
}
@keyframes animate3 {
    to {
        d: path('M23 11C23 7 17 7 17 11L17 13C17 17 23 17 23 13L23 13');
    }
} /**/
