.radioContent * {
}

.radioContent {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto;
    width: 100%;
}

.radioContent aside,
section {
    padding: 15px;
    /* border: 1px dotted; */
    background-color: var(--player-header-back);
}

@media only screen and (min-width: 500px) {
    .radioContent {
        grid-template-columns: 3.5fr 1fr ;
        grid-template-areas:
            'radio_main_area radio_main_area'
            'radio_epg_area radio_side_area'
            'radio_comments_area radio_side_area';
    }
}

@media only screen and (max-width: 499px) {
    .radioContent {
        grid-template-columns: 1fr;
        grid-template-areas:
            'radio_main_area '
            'radio_epg_area '
            'radio_side_area'
            'radio_comments_area ';
    }
}
