@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: hwb(240 0% 90%);
  --secondary-dark: hwb(250 03% 80%);
  --light: hwb(58 77% 0%);
  --secondary-light: #dfff87;
  --tertiary-light: hwb(58 77% 0% / 0.25);
  --dark-cyan-back: rgb(0 139 139 / 0.376);
  --light-cyan-border: rgb(0 219 219);
  --button-hover-back: #364b77;
  --blue-link: #8bb5f8;
  --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
  --radius: 0.375rem;
  --more-radius: 1rem;
  --content-width: 1050px;
  --wide-width: 1450px;
}

body {
  color: var(--light);
  height: 100dvh;
  background-color: v.$dark;
  background-image: v.$background-noise;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

.rootLayout {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  max-width: v.$wide-width;
  overflow: auto;
  height: fit-content;
}

.active {
  outline: 1px solid var(--cream);
}

/* Media Rules */
@media only screen and (min-device-width: 500px) and (min-width: 500px) {
  /* scroll bar */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #313131; */
    /* border-radius: 1.5rem; */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888bb;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.2s;
  }

  body:hover ::-webkit-scrollbar-thumb {
    opacity: 1;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
