$md-screen-width: 675px;
$dark: hwb(240 0% 90%);
$secondary-dark: rgb(15, 8, 51);
$tertiary-dark: hwb(250 05% 77%);
$radius: 0.375rem;
$cyan-light: rgb(0 219 219);
$cyan-dark: rgb(0 139 139 / 0.376);
$wide-width: 1450px;
$light: hwb(58 77% 0%);
$content-width: 1050px;
