.button {
	padding: 0.45rem 0.5rem;
	transition: 0.1s ease-in-out 0s;

	&:active {
		transform: scale(0.9);
	}
}

.nonIcon {
	@extend .button;
	border-radius: v.$radius;
	border: 1px solid v.$cyan-dark;

	&:hover {
		background-color: v.$tertiary-dark;
	}

	&:active {
		transform: scale(0.990);
	}
}
