.input {
  width: 300px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;

  input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: 1px solid v.$cyan-dark;
    border-radius: v.$radius;
    padding: v.$padding;
    width: 100%;
    // position: relative;

    &:focus {
      border: 1px solid v.$cyan-light;
    }
  }

  label {
    margin: 0 0.3rem;
  }
}
