.radiosListItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: fit-content;
  width: 10rem;
  padding: 0.8rem;
  row-gap: 0.5rem;
  border-radius: v.$radius;

  &:hover {
    background-color: v.$secondary-dark;
    cursor: pointer;

    button {
      opacity: 100;
      // transform: translateY(-5px);
    }
  }

  @media only screen and (max-width: v.$md-screen-width) {
    button {
      opacity: 100;
      // transform: translateY(-5px);
    }
  }
}

.imageButtonContainer {
  position: relative;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: v.$radius;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: invert(0.8);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    height: auto;
  }

  button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.35rem;
  }
}

.titleContainer {
  width: 100%;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.active {
  opacity: 100% !important;
}
.selected {
  background-color: var(--dark-cyan-back) !important;
}
