.table {
  grid-column: 1 / span 5;
  grid-row: 2 / span 1;
  margin: 0.5rem 0 0 0;
  width: 100%;
  height: fit-content;
  width: 100%;

  a {
    color: v.$cyan-light;
    &:hover {
      color: red;
    }
  }

  td {
    word-wrap: break-word;
    width: 100%;
    max-width: 0;
  }

  td,
  th {
    border: 1px solid v.$cyan-dark;
  }
}
